<form action="/todos/{{ todo._id }}/edit?_method=PUT" method="POST">
  <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}}>
  <input type="text" name="name" placeholder="{{ todo.name }}" value="{{ todo.name}}">
  <button type="submit">Save</button>
  <a href="/">Back</a>
</form>
