<form action="/todos/new" method="POST">
  <div class="input-group">
    <input class="form-control text-primary" type="text" name="name" placeholder="new Todo">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </div>
</form>
